.related-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  height: 80vh;
}

.related-products h1 {
  color: #171717;
  font-size: 40px;
  font-weight: 500;
}

.related-products hr {
  width: 150px;
  height: 4px;
  border-radius: 10px;
  background: #252525;
}

.related-products-item {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}
